--
-- PostgreSQL database dump
--

\restrict 7AgVrbftWa2NaHScDcCZd78Olaw45VTzV5pkBZjFOLxNzBiHsxjhAqP76gjxkjP

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: AROpenStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."AROpenStatus" AS ENUM (
    'PENDIENTE',
    'PARCIAL',
    'PAGADA'
);


ALTER TYPE public."AROpenStatus" OWNER TO postgres;

--
-- Name: PaymentMethod; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentMethod" AS ENUM (
    'EFECTIVO',
    'TRANSFERENCIA',
    'TARJETA',
    'OTRO'
);


ALTER TYPE public."PaymentMethod" OWNER TO postgres;

--
-- Name: SaleType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."SaleType" AS ENUM (
    'CONTADO',
    'CREDITO'
);


ALTER TYPE public."SaleType" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserRole" AS ENUM (
    'ADMIN',
    'CAJERO',
    'ALMACEN'
);


ALTER TYPE public."UserRole" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AccountReceivable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AccountReceivable" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "saleId" text NOT NULL,
    "customerId" text NOT NULL,
    "totalCents" integer NOT NULL,
    "balanceCents" integer NOT NULL,
    status public."AROpenStatus" DEFAULT 'PENDIENTE'::public."AROpenStatus" NOT NULL
);


ALTER TABLE public."AccountReceivable" OWNER TO postgres;

--
-- Name: CompanySettings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CompanySettings" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    name text NOT NULL,
    phone text NOT NULL,
    address text NOT NULL,
    "logoUrl" text,
    "itbisRateBp" integer DEFAULT 1800 NOT NULL,
    "allowNegativeStock" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."CompanySettings" OWNER TO postgres;

--
-- Name: Customer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Customer" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    name text NOT NULL,
    phone text,
    "isGeneric" boolean DEFAULT false NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    address text,
    cedula text,
    province text
);


ALTER TABLE public."Customer" OWNER TO postgres;

--
-- Name: InvoiceSequence; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."InvoiceSequence" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    series text DEFAULT 'A'::text NOT NULL,
    "lastNumber" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public."InvoiceSequence" OWNER TO postgres;

--
-- Name: OperatingExpense; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."OperatingExpense" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    description text NOT NULL,
    "amountCents" integer NOT NULL,
    "expenseDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    category text,
    "userId" text NOT NULL,
    notes text
);


ALTER TABLE public."OperatingExpense" OWNER TO postgres;

--
-- Name: Payment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Payment" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "arId" text NOT NULL,
    "userId" text NOT NULL,
    "paidAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "amountCents" integer NOT NULL,
    method public."PaymentMethod" DEFAULT 'EFECTIVO'::public."PaymentMethod" NOT NULL,
    note text,
    "cancelledAt" timestamp(3) without time zone,
    "cancelledBy" text
);


ALTER TABLE public."Payment" OWNER TO postgres;

--
-- Name: Product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Product" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    name text NOT NULL,
    sku text,
    "priceCents" integer NOT NULL,
    "costCents" integer DEFAULT 0 NOT NULL,
    stock integer DEFAULT 0 NOT NULL,
    "minStock" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    reference text,
    "productId" integer NOT NULL,
    "supplierId" text
);


ALTER TABLE public."Product" OWNER TO postgres;

--
-- Name: Product_productId_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Product_productId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Product_productId_seq" OWNER TO postgres;

--
-- Name: Product_productId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Product_productId_seq" OWNED BY public."Product"."productId";


--
-- Name: Purchase; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Purchase" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "purchasedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "supplierName" text,
    "userId" text NOT NULL,
    "totalCents" integer NOT NULL,
    notes text,
    "cancelledAt" timestamp(3) without time zone,
    "cancelledBy" text
);


ALTER TABLE public."Purchase" OWNER TO postgres;

--
-- Name: PurchaseItem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PurchaseItem" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "purchaseId" text NOT NULL,
    "productId" text NOT NULL,
    qty integer NOT NULL,
    "unitCostCents" integer NOT NULL,
    "lineTotalCents" integer NOT NULL,
    "discountPercentBp" integer DEFAULT 0 NOT NULL,
    "netCostCents" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public."PurchaseItem" OWNER TO postgres;

--
-- Name: Quote; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Quote" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "quoteNumber" integer NOT NULL,
    "quoteCode" text NOT NULL,
    "quotedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "validUntil" timestamp(3) without time zone,
    "customerId" text,
    "userId" text NOT NULL,
    "subtotalCents" integer NOT NULL,
    "itbisCents" integer NOT NULL,
    "shippingCents" integer DEFAULT 0 NOT NULL,
    "totalCents" integer NOT NULL,
    notes text
);


ALTER TABLE public."Quote" OWNER TO postgres;

--
-- Name: QuoteItem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."QuoteItem" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "quoteId" text NOT NULL,
    "productId" text NOT NULL,
    qty integer NOT NULL,
    "unitPriceCents" integer NOT NULL,
    "wasPriceOverridden" boolean DEFAULT false NOT NULL,
    "lineTotalCents" integer NOT NULL
);


ALTER TABLE public."QuoteItem" OWNER TO postgres;

--
-- Name: QuoteSequence; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."QuoteSequence" (
    id text DEFAULT 'main'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "lastNumber" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public."QuoteSequence" OWNER TO postgres;

--
-- Name: Return; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Return" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "returnNumber" integer NOT NULL,
    "returnCode" text NOT NULL,
    "returnedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "saleId" text NOT NULL,
    "userId" text NOT NULL,
    "subtotalCents" integer NOT NULL,
    "itbisCents" integer NOT NULL,
    "totalCents" integer NOT NULL,
    notes text,
    "cancelledAt" timestamp(3) without time zone,
    "cancelledBy" text
);


ALTER TABLE public."Return" OWNER TO postgres;

--
-- Name: ReturnItem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ReturnItem" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "returnId" text NOT NULL,
    "saleItemId" text NOT NULL,
    "productId" text NOT NULL,
    qty integer NOT NULL,
    "unitPriceCents" integer NOT NULL,
    "lineTotalCents" integer NOT NULL
);


ALTER TABLE public."ReturnItem" OWNER TO postgres;

--
-- Name: ReturnSequence; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ReturnSequence" (
    id text DEFAULT 'main'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "lastNumber" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public."ReturnSequence" OWNER TO postgres;

--
-- Name: Sale; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Sale" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "invoiceSeries" text DEFAULT 'A'::text NOT NULL,
    "invoiceNumber" integer NOT NULL,
    "invoiceCode" text NOT NULL,
    "soldAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    type public."SaleType" NOT NULL,
    "customerId" text,
    "userId" text NOT NULL,
    "subtotalCents" integer NOT NULL,
    "itbisCents" integer NOT NULL,
    "totalCents" integer NOT NULL,
    notes text,
    "cancelledAt" timestamp(3) without time zone,
    "cancelledBy" text,
    "shippingCents" integer DEFAULT 0 NOT NULL,
    "paymentMethod" public."PaymentMethod"
);


ALTER TABLE public."Sale" OWNER TO postgres;

--
-- Name: SaleItem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SaleItem" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "saleId" text NOT NULL,
    "productId" text NOT NULL,
    qty integer NOT NULL,
    "unitPriceCents" integer NOT NULL,
    "wasPriceOverridden" boolean DEFAULT false NOT NULL,
    "lineTotalCents" integer NOT NULL
);


ALTER TABLE public."SaleItem" OWNER TO postgres;

--
-- Name: Supplier; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Supplier" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    name text NOT NULL,
    "contactName" text,
    phone text,
    email text,
    address text,
    notes text,
    "isActive" boolean DEFAULT true NOT NULL,
    "discountPercentBp" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public."Supplier" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    name text NOT NULL,
    username text NOT NULL,
    "passwordHash" text NOT NULL,
    role public."UserRole" DEFAULT 'CAJERO'::public."UserRole" NOT NULL,
    "canOverridePrice" boolean DEFAULT false NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: Product productId; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product" ALTER COLUMN "productId" SET DEFAULT nextval('public."Product_productId_seq"'::regclass);


--
-- Data for Name: AccountReceivable; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: CompanySettings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CompanySettings" (id, "createdAt", "updatedAt", name, phone, address, "logoUrl", "itbisRateBp", "allowNegativeStock") FROM stdin;
company	2026-01-13 14:53:49.222	2026-01-13 21:34:37.1	Tejada Auto Adornos	829-475-1454	Carretera la Rosa, Moca	/uploads/logos/logo_1768340073975.jpeg	1800	f
\.


--
-- Data for Name: Customer; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Customer" (id, "createdAt", "updatedAt", name, phone, "isGeneric", "isActive", address, cedula, province) FROM stdin;
cmkcqpc6s0001q6mw80bcnb0l	2026-01-13 15:21:43.157	2026-01-13 17:17:44.973	Jose	8095781555	f	t	La rosa, moca	\N	Espaillat
generic	2026-01-13 14:53:49.232	2026-01-13 19:29:05.886	Cliente Gen├®rico	\N	t	t	\N	\N	\N
\.


--
-- Data for Name: InvoiceSequence; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."InvoiceSequence" (id, "createdAt", "updatedAt", series, "lastNumber") FROM stdin;
cmkcppgkr00005ectsk3dhfkw	2026-01-13 14:53:49.227	2026-01-13 22:23:49.135	A	10
\.


--
-- Data for Name: OperatingExpense; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."OperatingExpense" (id, "createdAt", "updatedAt", description, "amountCents", "expenseDate", category, "userId", notes) FROM stdin;
\.


--
-- Data for Name: Payment; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Purchase; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: PurchaseItem; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Quote; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Quote" (id, "createdAt", "updatedAt", "quoteNumber", "quoteCode", "quotedAt", "validUntil", "customerId", "userId", "subtotalCents", "itbisCents", "shippingCents", "totalCents", notes) FROM stdin;
cmkd2z5t60002gtx5esg9uqqr	2026-01-13 21:05:16.842	2026-01-13 21:05:16.842	1	COT-00001	2026-01-13 21:05:16.842	2026-01-14 00:00:00	\N	cmkcppgky00015ect6cvlej34	4237	763	0	5000	\N
\.


--
-- Data for Name: QuoteItem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."QuoteItem" (id, "createdAt", "quoteId", "productId", qty, "unitPriceCents", "wasPriceOverridden", "lineTotalCents") FROM stdin;
cmkd2z5t60004gtx5ydzbk2g6	2026-01-13 21:05:16.842	cmkd2z5t60002gtx5esg9uqqr	cmkcywjjd0000ritvcd4gtqcc	2	2500	f	5000
\.


--
-- Data for Name: QuoteSequence; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."QuoteSequence" (id, "createdAt", "updatedAt", "lastNumber") FROM stdin;
main	2026-01-13 21:05:16.827	2026-01-13 21:05:16.827	1
\.


--
-- Data for Name: Return; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Return" (id, "createdAt", "updatedAt", "returnNumber", "returnCode", "returnedAt", "saleId", "userId", "subtotalCents", "itbisCents", "totalCents", notes, "cancelledAt", "cancelledBy") FROM stdin;
\.


--
-- Data for Name: ReturnItem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ReturnItem" (id, "createdAt", "returnId", "saleItemId", "productId", qty, "unitPriceCents", "lineTotalCents") FROM stdin;
\.


--
-- Data for Name: ReturnSequence; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ReturnSequence" (id, "createdAt", "updatedAt", "lastNumber") FROM stdin;
main	2026-01-13 19:29:05.881	2026-01-13 19:29:05.881	0
\.


--
-- Data for Name: Sale; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: SaleItem; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Supplier; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Supplier" (id, "createdAt", "updatedAt", name, "contactName", phone, email, address, notes, "isActive", "discountPercentBp") FROM stdin;
cmkcwbnhc00007jgt2swxoimq	2026-01-13 17:59:02.305	2026-01-14 15:11:23.262	Distribuidora ABC	\N	\N	\N	\N	\N	t	1000
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User" (id, "createdAt", "updatedAt", name, username, "passwordHash", role, "canOverridePrice", "isActive") FROM stdin;
cmkcppgky00015ect6cvlej34	2026-01-13 14:53:49.235	2026-01-13 14:53:49.235	Administrador	admin	8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918	ADMIN	t	t
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Product_productId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Product_productId_seq"', 27, true);


--
-- Name: AccountReceivable AccountReceivable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AccountReceivable"
    ADD CONSTRAINT "AccountReceivable_pkey" PRIMARY KEY (id);


--
-- Name: CompanySettings CompanySettings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CompanySettings"
    ADD CONSTRAINT "CompanySettings_pkey" PRIMARY KEY (id);


--
-- Name: Customer Customer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Customer"
    ADD CONSTRAINT "Customer_pkey" PRIMARY KEY (id);


--
-- Name: InvoiceSequence InvoiceSequence_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InvoiceSequence"
    ADD CONSTRAINT "InvoiceSequence_pkey" PRIMARY KEY (id);


--
-- Name: OperatingExpense OperatingExpense_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OperatingExpense"
    ADD CONSTRAINT "OperatingExpense_pkey" PRIMARY KEY (id);


--
-- Name: Payment Payment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_productId_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_productId_key" UNIQUE ("productId");


--
-- Name: PurchaseItem PurchaseItem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PurchaseItem"
    ADD CONSTRAINT "PurchaseItem_pkey" PRIMARY KEY (id);


--
-- Name: Purchase Purchase_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Purchase"
    ADD CONSTRAINT "Purchase_pkey" PRIMARY KEY (id);


--
-- Name: QuoteItem QuoteItem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."QuoteItem"
    ADD CONSTRAINT "QuoteItem_pkey" PRIMARY KEY (id);


--
-- Name: QuoteSequence QuoteSequence_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."QuoteSequence"
    ADD CONSTRAINT "QuoteSequence_pkey" PRIMARY KEY (id);


--
-- Name: Quote Quote_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Quote"
    ADD CONSTRAINT "Quote_pkey" PRIMARY KEY (id);


--
-- Name: ReturnItem ReturnItem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ReturnItem"
    ADD CONSTRAINT "ReturnItem_pkey" PRIMARY KEY (id);


--
-- Name: ReturnSequence ReturnSequence_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ReturnSequence"
    ADD CONSTRAINT "ReturnSequence_pkey" PRIMARY KEY (id);


--
-- Name: Return Return_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Return"
    ADD CONSTRAINT "Return_pkey" PRIMARY KEY (id);


--
-- Name: SaleItem SaleItem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SaleItem"
    ADD CONSTRAINT "SaleItem_pkey" PRIMARY KEY (id);


--
-- Name: Sale Sale_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Sale"
    ADD CONSTRAINT "Sale_pkey" PRIMARY KEY (id);


--
-- Name: Supplier Supplier_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Supplier"
    ADD CONSTRAINT "Supplier_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: AccountReceivable_customerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AccountReceivable_customerId_idx" ON public."AccountReceivable" USING btree ("customerId");


--
-- Name: AccountReceivable_saleId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "AccountReceivable_saleId_key" ON public."AccountReceivable" USING btree ("saleId");


--
-- Name: AccountReceivable_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AccountReceivable_status_idx" ON public."AccountReceivable" USING btree (status);


--
-- Name: InvoiceSequence_series_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "InvoiceSequence_series_key" ON public."InvoiceSequence" USING btree (series);


--
-- Name: OperatingExpense_expenseDate_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "OperatingExpense_expenseDate_idx" ON public."OperatingExpense" USING btree ("expenseDate");


--
-- Name: Payment_cancelledAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Payment_cancelledAt_idx" ON public."Payment" USING btree ("cancelledAt");


--
-- Name: Payment_paidAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Payment_paidAt_idx" ON public."Payment" USING btree ("paidAt");


--
-- Name: Product_name_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Product_name_idx" ON public."Product" USING btree (name);


--
-- Name: Product_productId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Product_productId_idx" ON public."Product" USING btree ("productId");


--
-- Name: Product_reference_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Product_reference_idx" ON public."Product" USING btree (reference);


--
-- Name: Product_sku_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Product_sku_idx" ON public."Product" USING btree (sku);


--
-- Name: Product_sku_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Product_sku_key" ON public."Product" USING btree (sku);


--
-- Name: Product_supplierId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Product_supplierId_idx" ON public."Product" USING btree ("supplierId");


--
-- Name: Purchase_cancelledAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Purchase_cancelledAt_idx" ON public."Purchase" USING btree ("cancelledAt");


--
-- Name: Purchase_purchasedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Purchase_purchasedAt_idx" ON public."Purchase" USING btree ("purchasedAt");


--
-- Name: Quote_customerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Quote_customerId_idx" ON public."Quote" USING btree ("customerId");


--
-- Name: Quote_quoteCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Quote_quoteCode_key" ON public."Quote" USING btree ("quoteCode");


--
-- Name: Quote_quoteNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Quote_quoteNumber_key" ON public."Quote" USING btree ("quoteNumber");


--
-- Name: Quote_quotedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Quote_quotedAt_idx" ON public."Quote" USING btree ("quotedAt");


--
-- Name: Quote_validUntil_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Quote_validUntil_idx" ON public."Quote" USING btree ("validUntil");


--
-- Name: Return_cancelledAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Return_cancelledAt_idx" ON public."Return" USING btree ("cancelledAt");


--
-- Name: Return_returnCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Return_returnCode_key" ON public."Return" USING btree ("returnCode");


--
-- Name: Return_returnNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Return_returnNumber_key" ON public."Return" USING btree ("returnNumber");


--
-- Name: Return_returnedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Return_returnedAt_idx" ON public."Return" USING btree ("returnedAt");


--
-- Name: Return_saleId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Return_saleId_idx" ON public."Return" USING btree ("saleId");


--
-- Name: Sale_cancelledAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Sale_cancelledAt_idx" ON public."Sale" USING btree ("cancelledAt");


--
-- Name: Sale_customerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Sale_customerId_idx" ON public."Sale" USING btree ("customerId");


--
-- Name: Sale_invoiceCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Sale_invoiceCode_key" ON public."Sale" USING btree ("invoiceCode");


--
-- Name: Sale_soldAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Sale_soldAt_idx" ON public."Sale" USING btree ("soldAt");


--
-- Name: Supplier_name_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Supplier_name_idx" ON public."Supplier" USING btree (name);


--
-- Name: User_username_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_username_key" ON public."User" USING btree (username);


--
-- Name: AccountReceivable AccountReceivable_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AccountReceivable"
    ADD CONSTRAINT "AccountReceivable_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: AccountReceivable AccountReceivable_saleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AccountReceivable"
    ADD CONSTRAINT "AccountReceivable_saleId_fkey" FOREIGN KEY ("saleId") REFERENCES public."Sale"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OperatingExpense OperatingExpense_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OperatingExpense"
    ADD CONSTRAINT "OperatingExpense_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Payment Payment_arId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_arId_fkey" FOREIGN KEY ("arId") REFERENCES public."AccountReceivable"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Payment Payment_cancelledBy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_cancelledBy_fkey" FOREIGN KEY ("cancelledBy") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Payment Payment_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Product Product_supplierId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_supplierId_fkey" FOREIGN KEY ("supplierId") REFERENCES public."Supplier"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PurchaseItem PurchaseItem_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PurchaseItem"
    ADD CONSTRAINT "PurchaseItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PurchaseItem PurchaseItem_purchaseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PurchaseItem"
    ADD CONSTRAINT "PurchaseItem_purchaseId_fkey" FOREIGN KEY ("purchaseId") REFERENCES public."Purchase"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Purchase Purchase_cancelledBy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Purchase"
    ADD CONSTRAINT "Purchase_cancelledBy_fkey" FOREIGN KEY ("cancelledBy") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Purchase Purchase_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Purchase"
    ADD CONSTRAINT "Purchase_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: QuoteItem QuoteItem_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."QuoteItem"
    ADD CONSTRAINT "QuoteItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: QuoteItem QuoteItem_quoteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."QuoteItem"
    ADD CONSTRAINT "QuoteItem_quoteId_fkey" FOREIGN KEY ("quoteId") REFERENCES public."Quote"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Quote Quote_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Quote"
    ADD CONSTRAINT "Quote_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Quote Quote_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Quote"
    ADD CONSTRAINT "Quote_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ReturnItem ReturnItem_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ReturnItem"
    ADD CONSTRAINT "ReturnItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ReturnItem ReturnItem_returnId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ReturnItem"
    ADD CONSTRAINT "ReturnItem_returnId_fkey" FOREIGN KEY ("returnId") REFERENCES public."Return"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ReturnItem ReturnItem_saleItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ReturnItem"
    ADD CONSTRAINT "ReturnItem_saleItemId_fkey" FOREIGN KEY ("saleItemId") REFERENCES public."SaleItem"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Return Return_cancelledBy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Return"
    ADD CONSTRAINT "Return_cancelledBy_fkey" FOREIGN KEY ("cancelledBy") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Return Return_saleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Return"
    ADD CONSTRAINT "Return_saleId_fkey" FOREIGN KEY ("saleId") REFERENCES public."Sale"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Return Return_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Return"
    ADD CONSTRAINT "Return_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SaleItem SaleItem_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SaleItem"
    ADD CONSTRAINT "SaleItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SaleItem SaleItem_saleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SaleItem"
    ADD CONSTRAINT "SaleItem_saleId_fkey" FOREIGN KEY ("saleId") REFERENCES public."Sale"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Sale Sale_cancelledBy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Sale"
    ADD CONSTRAINT "Sale_cancelledBy_fkey" FOREIGN KEY ("cancelledBy") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Sale Sale_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Sale"
    ADD CONSTRAINT "Sale_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Sale Sale_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Sale"
    ADD CONSTRAINT "Sale_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict 7AgVrbftWa2NaHScDcCZd78Olaw45VTzV5pkBZjFOLxNzBiHsxjhAqP76gjxkjP

